/* style cho product brief */

#product-card {
    width: 100%;
    display: flex;
}

#product-brief {
    width: 74.5%;
    background-color: white;
    display: flex;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
}

#product-brief-left {
    max-width: 344px;
    margin-right: 20px;
}

#img-active {
    max-width: 344px;
    margin-bottom: 4px;
}

#sub-imgs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sub-img {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    border: none;
    outline: none;
}

.sub-img-active {
    border: 1px solid #4000F4;
    border-radius: 7px;
}

#payment-methods {
    margin-top: 40px;
}

#payment-methods img {
    height: 25px;
}

#payment-methods>div {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#product-brief-right {
    max-width: 490px;
}

#product-name {
    width: 100%;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.33;
    color: rgb(51, 51, 51);
    margin-bottom: 4px;
}

#thuong-hieu-sku {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #878787;
    margin-bottom: 12px;
}

#thuong-hieu-sku span {
    margin-right: 4px;
}

#thuong-hieu-sku div {
    margin-right: 4px;
}

#thuong-hieu-sku a {
    font-weight: 600;
    color: #0044f4;
}

#thuong-hieu-sku a:hover {
    color: #0033b4;
}

#current-price {
    font-size: 24px;
    font-weight: 600;
    color: #0069ff;
}

#old-price {
    font-size: 14px;
    color: #878787;
    text-decoration: line-through;
    margin-bottom: 12px;
}

#promotion {
    width: 100%;
    background: #F7F7F7;
    border: 1px solid rgba(160, 160, 160, 0.5);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 0px 10px;
    margin-bottom: 47px;
}

.promotion-item {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    margin: 10px 0px;
}

#gift-img-box {
    width: 30px;
    height: 30px;
    border: 1px solid #D0D0D0;
    box-sizing: border-box;
}

#buy-now-btn {
    width: 100%;
    background: #FB0000;
    border-radius: 5px;
    border: none;
    padding: 12px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

#buy-now-btn:hover {
    background-color: #ca0000;
}

#installment-add-to-card-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sm-btn {
    width: 49%;
    border-radius: 5px;
    border: none;
    padding: 11px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}

.installment-btn {
    background-color: rgba(38, 121, 255, 0.9);
    color: white;
}

.installment-btn:hover {
    background-color: rgba(0, 77, 201, 0.9);
}

.add-to-cart-btn {
    background-color: white;
    color: rgba(38, 121, 255, 0.9);
    border: 1px solid rgba(38, 121, 255, 0.9);
}

.add-to-cart-btn:hover {
    color: rgba(0, 77, 201, 0.9);
}

#company-policy-services {
    max-width: 286px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 16px;
    font-size: 14px;
}

#company-policy {
    margin-bottom: 16px;
}

.company-policy-services-item {
    display: flex;
    color: #222;
    margin-bottom: 8px;
}

#company-policy-services img {
    max-width: 24px;
}

#company-policy-services p {
    font-weight: 600;
    margin-bottom: 8px !important;
}

/* kết thúc style cho product brief */

/* style cho product info */

#product-information {
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    display: flex;
}

#product-description {
    max-width: 747px;
    margin-right: 12px;
}

.product-information-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 41px;
    color: #222;
    padding: 0px 10px;
    font-size: 18px;
}

#product-description-content {
    margin-top: 8px;
    padding: 10px;
    height: 1050px;
    overflow: hidden;
}

#product-description-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
}

#product-description-content p {
    font-size: 14px;
    margin-bottom: 20px !important;
}

#view-more-btn {
    width: 126px;
    margin: 16px;
    border: 1px solid rgba(38, 121, 255, 0.9);
    border-radius: 7px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: rgba(38, 121, 255, 0.9);
    outline: none;
}

#specifications {
    max-width: 401px;
}

#specifications-box {
    width: 100%;
    margin-top: 8px;
}

#specifications-box>div {
    padding: 10px;
}

.product-info-key-value {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222;
    font-size: 14px;
}

.key {
    width: 39%;
}

.value {
    width: 60%;
}

.gray {
    background-color: #f2f2f2;
}

/* kết thúc style cho product info */

/* style cho same product */

#same-product {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}

.product {
    width: 100%;
    padding: 8px;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.product:hover {
    transform: scale(1.05, 1.05);
}

.product-card {
    width: 100%;
    height: 134px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-card-name {
    width: 100%;
    height: 58px;
    font-size: 13px;
    color: #222;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.product-card-price {
    width: 100%;
    color: #004de5;
    font-weight: 600;
    font-size: 15px;
}

.product-card-old-price {
    width: 100%;
    display: flex;
    align-items: center;
}

.old-price {
    width: fit-content;
    font-size: 12px;
    text-decoration: line-through;
    color: #797979;
    font-weight: 500;
}

.discount-percent {
    color: #40bf55;
    font-size: 12px;
    margin-left: 8px !important;
    font-weight: 500;
}

.product-card-gift {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card-gift span {
    color: #222;
    font-size: 11px;
}

.product-card-gift-img {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}

.product-card-gift-img img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}

.arrow-slick {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: white;
    position: absolute;
    background-color: black;
    opacity: 0;
    top: 50%;
    border-radius: 50%;
    transition: all 0.4s;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 1;
}

.products:hover .arrow-slick {
    opacity: 0.5;
}

.arrow-slick:hover {
    background-color: #a1a1a1;
}

.next-slick {
    right: 20px;
    left: auto;
}

.prev-slick {
    left: 20px;
    right: auto;
}

.caret {
    visibility: visible;
    color: white;
}

/* kết thúc style cho same product */

/* responsive cho màn hình từ 1025px - 1200px */

@media(min-width:1025px) and (max-width:1200px) {
    #product-card {
        flex-direction: column;
    }
    #product-brief {
        width: 100%;
        margin: 0px;
        justify-content: center;
    }
    #product-brief-left {
        margin-right: 40px;
    }
    #product-brief-right {
        max-width: 590px;
    }
    #company-policy-services {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        padding: 16px 20px;
    }
    #company-policy {
        margin-right: 80px;
    }
    #product-description {
        max-width: 600px;
    }
    .product-card-gift span {
        font-size: 13px;
    }
    .product-card-gift {
        justify-content: flex-start;
    }
    .product-card-gift-img {
        margin-left: 8px;
    }
    .product-card-gift-img img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }
    .product-card-gift-img span {
        display: none;
    }
}

/* responsive cho màn hình từ 768px - 1024px */

@media(min-width:768px) and (max-width:1024px) {
    #product-card {
        flex-direction: column;
    }
    #product-brief {
        width: 100%;
        margin: 0px;
        justify-content: center;
        padding: 12px;
    }
    #product-brief-left {
        max-width: 290px;
        margin-right: 12px;
    }
    .sub-img {
        width: 45px;
        height: 45px;
    }
    #payment-methods>div {
        font-size: 13px;
        flex-wrap: wrap;
    }
    #product-name {
        font-size: 20px;
    }
    #current-price {
        font-size: 20px;
    }
    #promotion {
        margin-bottom: 40px;
    }
    #buy-now-btn {
        font-size: 18px;
    }
    .sm-btn {
        font-size: 16px;
    }
    #company-policy-services {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        padding: 16px 20px;
    }
    #company-policy {
        margin-right: 80px;
    }
    #product-information {
        flex-direction: column;
    }
    #product-description {
        max-width: 100%;
    }
    #product-description-content img {
        width: 100%;
    }
    #specifications {
        max-width: 100%;
    }
}

/* responsive cho màn hình từ 576px - 767px */

@media(min-width:576px) and (max-width:767px) {
    #product-card {
        flex-direction: column;
    }
    #product-brief {
        width: 100%;
        margin: 0px;
        flex-direction: column;
        align-items: center;
        padding: 0px 20px 20px 20px;
    }
    #product-brief-left {
        max-width: 100%;
        margin: 0px;
    }
    .sub-img {
        width: 75px;
        height: 75px;
    }
    #payment-methods {
        display: none;
    }
    #product-brief-right {
        margin-top: 15px;
        max-width: 100%;
    }
    #product-name {
        font-size: 20px;
    }
    #current-price {
        font-size: 20px;
    }
    #promotion {
        margin-bottom: 40px;
    }
    #buy-now-btn {
        font-size: 18px;
    }
    .sm-btn {
        font-size: 16px;
    }
    #company-policy-services {
        max-width: 100%;
        display: flex;
        margin-top: 20px;
        padding: 16px 20px;
    }
    #product-information {
        flex-direction: column;
    }
    #product-description {
        max-width: 100%;
    }
    #product-description-content img {
        width: 100%;
    }
    #specifications {
        max-width: 100%;
    }
    #view-more-btn {
        padding: 8px 6px;
    }
    .product-card-gift span {
        font-size: 13px;
    }
    .product-card-gift {
        justify-content: flex-start;
    }
    .product-card-gift-img {
        margin-left: 8px;
    }
    .product-card-gift-img img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }
    .product-card-gift-img span {
        display: none;
    }
}

/* responsive cho màn hình từ 320px - 575px */

@media(min-width:320px) and (max-width:575px) {
    #page-direction {
        display: none !important;
    }
    #product-card {
        flex-direction: column;
    }
    #product-brief {
        width: 100%;
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px 10px 10px;
    }
    #product-brief-left {
        max-width: 100%;
        margin: 0px;
    }
    .sub-img {
        width: 50px;
        height: 50px;
    }
    #payment-methods {
        display: none;
    }
    #product-brief-right {
        margin-top: 15px;
        max-width: 100%;
    }
    #product-name {
        font-size: 18px;
    }
    #current-price {
        font-size: 18px;
    }
    #promotion {
        margin-bottom: 40px;
    }
    #buy-now-btn {
        font-size: 16px;
    }
    .sm-btn {
        font-size: 13px;
        padding: 12px 4px;
    }
    #company-policy-services {
        max-width: 100%;
        margin-top: 16px;
        padding: 10px;
        font-size: 13px;
    }
    #product-information {
        flex-direction: column;
        padding: 6px;
    }
    h4{
        font-size: 16px !important;
    }
    #product-description {
        max-width: 100%;
    }
    #product-description-content img {
        width: 100%;
    }
    #specifications {
        max-width: 100%;
    }
    #view-more-btn {
        font-size: 14px;
        padding: 5px;
        margin: 4px 0px 16px 0px;
    }
    .product-info-key-value{
        font-size: 13px;
    }
    .product-card-gift span {
        font-size: 13px;
    }
    .product-card-gift {
        justify-content: flex-start;
    }
    .product-card-gift-img {
        margin-left: 8px;
    }
    .product-card-gift-img img {
        width: 20px;
        height: 20px;
        margin-right: 2px;
    }
    .product-card-gift-img span {
        display: none;
    }
}