#signup-signin {
    max-width: 400px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.nav-tabs {
    width: 100%;
}

.nav-item {
    width: 50%;
}

.nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    color: #222;
    background-color: #F2F4F7 !important;
}

.nav-link.active {
    background-color: white !important;
}

.tab-content {
    width: 100%;
    padding: 30px;
    background-color: white;
    border: 1px solid rgb(222, 226, 230);
    border-top: none;
}

.mt-3 {
    margin: 0px !important;
}

#sign-in {
    width: 100%;
}

#remember-acount-forgot-password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

#sign-in-btn {
    width: 100%;
    border: none;
    margin: 20px auto;
    padding: 15px 20px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #40BF55;
    color: white;
}

#sign-in-btn:hover {
    background-color: #349c45;
}

#login-with-gg-fb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

#login-with-gg-fb button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

/* responsive cho màn hình từ 320px - 575px */

@media(min-width:320px) and (max-width:575px) {
    #signup-signin {
        max-width: 290px;
        margin: 30px auto;
    }
    .nav-link {
        padding: 8px;
        font-size: 14px;
    }
    .tab-content {
        padding: 15px;
    }
    #sign-in-btn {
        padding: 10px 15px;
    }
    #login-with-gg-fb{
        flex-direction: column;
    }
    #login-with-gg-fb button {
        width: 100%;
        margin-bottom: 8px;
    }
}