#container {
    max-width: 1200px;
    margin: auto;
}

#menu-and-ads {
    width: 100%;
    height: 534px;
    margin-top: 1px;
    display: flex;
    position: relative;
}

#menu {
    width: 17%;
    background-color: white;
}

#menu-header {
    width: 100%;
    height: 34px;
    background-color: rgba(38, 121, 255, 0.9);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bars {
    margin-right: 4px;
}

#list-item-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#list-item {
    width: 100%;
    padding: 0px 0px 4px 0px;
}

#list-item>li {
    width: 100%;
    font-size: 14px;
    padding: 0px 8px;
}

#list-item img {
    margin-right: 4px;
}

#list-item a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #222;
    font-weight: 500;
}

.fa-angle-right {
    font-size: 18px;
    color: rgba(38, 121, 255, 0.9);
    visibility: hidden;
}

#list-item>li:hover {
    background-color: rgb(233, 236, 241);
}

#list-item>li:hover .fa-angle-right {
    visibility: visible;
}

#submenu-container {
    width: 83%;
    height: 500px;
    position: absolute;
    right: 0px;
    top: 34px;
    /* display: flex; */
    display: none;
    animation: show-hide 0.2s ease-in;
}

#submenu {
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#submenu a:hover {
    color: rgba(38, 121, 255, 0.9)
}

@keyframes show-hide {
    from {
        right: 20px;
    }
    to {
        right: 0px;
    }
}

#list-item li:hover #submenu-container {
    display: flex;
}

#submenu-items {
    width: 24%;
    margin: 0px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: seagreen;
}